In [ ]:
# project 1

In [1]:
%env INSTANCE=my

env: INSTANCE=my

In [6]:
!gsutil cp gs://cs327e-open-access-2/sakila.zip .

Copying gs://cs327e-open-access-2/sakila.zip...
/ [1 files][786.4 KiB/786.4 KiB]
Operation completed over 1 objects/786.4 KiB.

In [ ]:
!unzip mysql_college.zip

In [5]:
!mysql < /home/jupyter/sakila/sakila-database.sql

In [9]:
!mysql < /home/jupyter/sakila/sakila-data.sql

ERROR 1062 (23000) at line 44: Duplicate entry '1' for key 'actor.PRIMARY'

In [10]:
!mysql sakila -e "show tables"

+----------------------------+
| Tables_in_sakila           |
+----------------------------+
| actor                      |
| actor_info                 |
| address                    |
| category                   |
| city                       |
| country                    |
| customer                   |
| customer_list              |
| film                       |
| film_actor                 |
| film_category              |
| film_list                  |
| film_text                  |
| inventory                  |
| language                   |
| nicer_but_slower_film_list |
| payment                    |
| rental                     |
| sales_by_film_category     |
| sales_by_store             |
| staff                      |
| staff_list                 |
| store                      |
+----------------------------+

In [5]:
!mysql sakila -e "select count(*) from actor"

+----------+
| count(*) |
+----------+
|      200 |
+----------+

In [6]:
!mysql sakila -e "select count(*) from actor_info"

+----------+
| count(*) |
+----------+
|      200 |
+----------+

In [7]:
!mysql sakila -e "select count(*) from address"

+----------+
| count(*) |
+----------+
|      603 |
+----------+

In [8]:
!mysql sakila -e "select count(*) from category"

+----------+
| count(*) |
+----------+
|       16 |
+----------+

In [9]:
!mysql sakila -e "select count(*) from city"

+----------+
| count(*) |
+----------+
|      600 |
+----------+

In [10]:
!mysql sakila -e "select actor_id, first_name, last_name from actor where actor_id between 1 and 14"

+----------+------------+--------------+
| actor_id | first_name | last_name    |
+----------+------------+--------------+
|        1 | PENELOPE   | GUINESS      |
|        2 | NICK       | WAHLBERG     |
|        3 | ED         | CHASE        |
|        4 | JENNIFER   | DAVIS        |
|        5 | JOHNNY     | LOLLOBRIGIDA |
|        6 | BETTE      | NICHOLSON    |
|        7 | GRACE      | MOSTEL       |
|        8 | MATTHEW    | JOHANSSON    |
|        9 | JOE        | SWANK        |
|       10 | CHRISTIAN  | GABLE        |
|       11 | ZERO       | CAGE         |
|       12 | KARL       | BERRY        |
|       13 | UMA        | WOOD         |
|       14 | VIVIEN     | BERGEN       |
+----------+------------+--------------+

In [17]:
!mysql sakila -e "select city_id, city, country_id from city where city_id <= 7"

+---------+--------------------+------------+
| city_id | city               | country_id |
+---------+--------------------+------------+
|       1 | A Corua (La Corua) |         87 |
|       2 | Abha               |         82 |
|       3 | Abu Dhabi          |        101 |
|       4 | Acua               |         60 |
|       5 | Adana              |         97 |
|       6 | Addis Abeba        |         31 |
|       7 | Aden               |        107 |
+---------+--------------------+------------+

In [19]:
!mysql sakila -e "select film_id, title, description from film where film_id between 3 and 23"

+---------+----------------------+-----------------------------------------------------------------------------------------------------------------------+
| film_id | title                | description                                                                                                           |
+---------+----------------------+-----------------------------------------------------------------------------------------------------------------------+
|       3 | ADAPTATION HOLES     | A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory                      |
|       4 | AFFAIR PREJUDICE     | A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank                          |
|       5 | AFRICAN EGG          | A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico |
|       6 | AGENT TRUMAN         | A Intrepid Panorama of a Robot And a Boy who must Escape a Sumo Wrestler in Ancient China                             |
|       7 | AIRPLANE SIERRA      | A Touching Saga of a Hunter And a Butler who must Discover a Butler in A Jet Boat                                     |
|       8 | AIRPORT POLLOCK      | A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India                                         |
|       9 | ALABAMA DEVIL        | A Thoughtful Panorama of a Database Administrator And a Mad Scientist who must Outgun a Mad Scientist in A Jet Boat   |
|      10 | ALADDIN CALENDAR     | A Action-Packed Tale of a Man And a Lumberjack who must Reach a Feminist in Ancient China                             |
|      11 | ALAMO VIDEOTAPE      | A Boring Epistle of a Butler And a Cat who must Fight a Pastry Chef in A MySQL Convention                             |
|      12 | ALASKA PHANTOM       | A Fanciful Saga of a Hunter And a Pastry Chef who must Vanquish a Boy in Australia                                    |
|      13 | ALI FOREVER          | A Action-Packed Drama of a Dentist And a Crocodile who must Battle a Feminist in The Canadian Rockies                 |
|      14 | ALICE FANTASIA       | A Emotional Drama of a A Shark And a Database Administrator who must Vanquish a Pioneer in Soviet Georgia             |
|      15 | ALIEN CENTER         | A Brilliant Drama of a Cat And a Mad Scientist who must Battle a Feminist in A MySQL Convention                       |
|      16 | ALLEY EVOLUTION      | A Fast-Paced Drama of a Robot And a Composer who must Battle a Astronaut in New Orleans                               |
|      17 | ALONE TRIP           | A Fast-Paced Character Study of a Composer And a Dog who must Outgun a Boat in An Abandoned Fun House                 |
|      18 | ALTER VICTORY        | A Thoughtful Drama of a Composer And a Feminist who must Meet a Secret Agent in The Canadian Rockies                  |
|      19 | AMADEUS HOLY         | A Emotional Display of a Pioneer And a Technical Writer who must Battle a Man in A Baloon                             |
|      20 | AMELIE HELLFIGHTERS  | A Boring Drama of a Woman And a Squirrel who must Conquer a Student in A Baloon                                       |
|      21 | AMERICAN CIRCUS      | A Insightful Drama of a Girl And a Astronaut who must Face a Database Administrator in A Shark Tank                   |
|      22 | AMISTAD MIDSUMMER    | A Emotional Character Study of a Dentist And a Crocodile who must Meet a Sumo Wrestler in California                  |
|      23 | ANACONDA CONFESSIONS | A Lacklusture Display of a Dentist And a Dentist who must Fight a Girl in Australia                                   |
+---------+----------------------+-----------------------------------------------------------------------------------------------------------------------+

In [23]:
!mysql sakila -e "select rental_id, rental_date, customer_id, staff_id from rental where rental_id between 1 and 20"

+-----------+---------------------+-------------+----------+
| rental_id | rental_date         | customer_id | staff_id |
+-----------+---------------------+-------------+----------+
|         1 | 2005-05-24 22:53:30 |         130 |        1 |
|         2 | 2005-05-24 22:54:33 |         459 |        1 |
|         3 | 2005-05-24 23:03:39 |         408 |        1 |
|         4 | 2005-05-24 23:04:41 |         333 |        2 |
|         5 | 2005-05-24 23:05:21 |         222 |        1 |
|         6 | 2005-05-24 23:08:07 |         549 |        1 |
|         7 | 2005-05-24 23:11:53 |         269 |        2 |
|         8 | 2005-05-24 23:31:46 |         239 |        2 |
|         9 | 2005-05-25 00:00:40 |         126 |        1 |
|        10 | 2005-05-25 00:02:21 |         399 |        2 |
|        11 | 2005-05-25 00:09:02 |         142 |        2 |
|        12 | 2005-05-25 00:19:27 |         261 |        2 |
|        13 | 2005-05-25 00:22:55 |         334 |        1 |
|        14 | 2005-05-25 00:31:15 |         446 |        1 |
|        15 | 2005-05-25 00:39:22 |         319 |        1 |
|        16 | 2005-05-25 00:43:11 |         316 |        2 |
|        17 | 2005-05-25 01:06:36 |         575 |        1 |
|        18 | 2005-05-25 01:10:47 |          19 |        2 |
|        19 | 2005-05-25 01:17:24 |         456 |        1 |
|        20 | 2005-05-25 01:48:41 |         185 |        2 |
+-----------+---------------------+-------------+----------+

In [32]:
!mysql sakila -e "select film_id, category_id from film_category where category_id between 1 and 5"

+---------+-------------+
| film_id | category_id |
+---------+-------------+
|      19 |           1 |
|      21 |           1 |
|      29 |           1 |
|      38 |           1 |
|      56 |           1 |
|      67 |           1 |
|      97 |           1 |
|     105 |           1 |
|     111 |           1 |
|     115 |           1 |
|     126 |           1 |
|     130 |           1 |
|     162 |           1 |
|     194 |           1 |
|     205 |           1 |
|     210 |           1 |
|     212 |           1 |
|     229 |           1 |
|     250 |           1 |
|     252 |           1 |
|     253 |           1 |
|     271 |           1 |
|     287 |           1 |
|     292 |           1 |
|     303 |           1 |
|     318 |           1 |
|     327 |           1 |
|     329 |           1 |
|     360 |           1 |
|     371 |           1 |
|     375 |           1 |
|     395 |           1 |
|     417 |           1 |
|     501 |           1 |
|     511 |           1 |
|     530 |           1 |
|     542 |           1 |
|     549 |           1 |
|     574 |           1 |
|     579 |           1 |
|     586 |           1 |
|     594 |           1 |
|     659 |           1 |
|     664 |           1 |
|     697 |           1 |
|     707 |           1 |
|     717 |           1 |
|     732 |           1 |
|     748 |           1 |
|     793 |           1 |
|     794 |           1 |
|     802 |           1 |
|     823 |           1 |
|     825 |           1 |
|     838 |           1 |
|     850 |           1 |
|     869 |           1 |
|     911 |           1 |
|     915 |           1 |
|     927 |           1 |
|     964 |           1 |
|     968 |           1 |
|     982 |           1 |
|     991 |           1 |
|      18 |           2 |
|      23 |           2 |
|      36 |           2 |
|      70 |           2 |
|      78 |           2 |
|      89 |           2 |
|     118 |           2 |
|     121 |           2 |
|     134 |           2 |
|     154 |           2 |
|     160 |           2 |
|     193 |           2 |
|     208 |           2 |
|     223 |           2 |
|     239 |           2 |
|     241 |           2 |
|     243 |           2 |
|     245 |           2 |
|     259 |           2 |
|     268 |           2 |
|     300 |           2 |
|     314 |           2 |
|     325 |           2 |
|     326 |           2 |
|     330 |           2 |
|     349 |           2 |
|     355 |           2 |
|     402 |           2 |
|     430 |           2 |
|     433 |           2 |
|     456 |           2 |
|     461 |           2 |
|     464 |           2 |
|     470 |           2 |
|     489 |           2 |
|     510 |           2 |
|     541 |           2 |
|     564 |           2 |
|     569 |           2 |
|     582 |           2 |
|     583 |           2 |
|     615 |           2 |
|     644 |           2 |
|     649 |           2 |
|     651 |           2 |
|     690 |           2 |
|     692 |           2 |
|     693 |           2 |
|     696 |           2 |
|     703 |           2 |
|     743 |           2 |
|     805 |           2 |
|     816 |           2 |
|     820 |           2 |
|     849 |           2 |
|     859 |           2 |
|     865 |           2 |
|     880 |           2 |
|     886 |           2 |
|     887 |           2 |
|     892 |           2 |
|     901 |           2 |
|     916 |           2 |
|     953 |           2 |
|     963 |           2 |
|     986 |           2 |
|      48 |           3 |
|      59 |           3 |
|      66 |           3 |
|      68 |           3 |
|     110 |           3 |
|     124 |           3 |
|     149 |           3 |
|     152 |           3 |
|     157 |           3 |
|     168 |           3 |
|     191 |           3 |
|     214 |           3 |
|     238 |           3 |
|     280 |           3 |
|     304 |           3 |
|     328 |           3 |
|     343 |           3 |
|     344 |           3 |
|     354 |           3 |
|     356 |           3 |
|     370 |           3 |
|     373 |           3 |
|     392 |           3 |
|     409 |           3 |
|     423 |           3 |
|     424 |           3 |
|     450 |           3 |
|     468 |           3 |
|     485 |           3 |
|     491 |           3 |
|     505 |           3 |
|     509 |           3 |
|     515 |           3 |
|     547 |           3 |
|     553 |           3 |
|     573 |           3 |
|     588 |           3 |
|     608 |           3 |
|     626 |           3 |
|     688 |           3 |
|     735 |           3 |
|     755 |           3 |
|     761 |           3 |
|     768 |           3 |
|     786 |           3 |
|     801 |           3 |
|     833 |           3 |
|     852 |           3 |
|     853 |           3 |
|     864 |           3 |
|     873 |           3 |
|     883 |           3 |
|     889 |           3 |
|     896 |           3 |
|     918 |           3 |
|     928 |           3 |
|     955 |           3 |
|     959 |           3 |
|     993 |           3 |
|     999 |           3 |
|      14 |           4 |
|      37 |           4 |
|      60 |           4 |
|      91 |           4 |
|     116 |           4 |
|     131 |           4 |
|     166 |           4 |
|     180 |           4 |
|     184 |           4 |
|     190 |           4 |
|     196 |           4 |
|     228 |           4 |
|     249 |           4 |
|     266 |           4 |
|     297 |           4 |
|     341 |           4 |
|     346 |           4 |
|     357 |           4 |
|     358 |           4 |
|     425 |           4 |
|     432 |           4 |
|     445 |           4 |
|     469 |           4 |
|     471 |           4 |
|     480 |           4 |
|     482 |           4 |
|     484 |           4 |
|     487 |           4 |
|     512 |           4 |
|     523 |           4 |
|     525 |           4 |
|     536 |           4 |
|     537 |           4 |
|     548 |           4 |
|     554 |           4 |
|     578 |           4 |
|     611 |           4 |
|     633 |           4 |
|     652 |           4 |
|     663 |           4 |
|     694 |           4 |
|     725 |           4 |
|     731 |           4 |
|     744 |           4 |
|     808 |           4 |
|     815 |           4 |
|     828 |           4 |
|     843 |           4 |
|     862 |           4 |
|     874 |           4 |
|     891 |           4 |
|     895 |           4 |
|     899 |           4 |
|     950 |           4 |
|     951 |           4 |
|     962 |           4 |
|     970 |           4 |
|       7 |           5 |
|      28 |           5 |
|      99 |           5 |
|     119 |           5 |
|     127 |           5 |
|     159 |           5 |
|     178 |           5 |
|     182 |           5 |
|     188 |           5 |
|     202 |           5 |
|     242 |           5 |
|     247 |           5 |
|     265 |           5 |
|     276 |           5 |
|     308 |           5 |
|     317 |           5 |
|     324 |           5 |
|     332 |           5 |
|     335 |           5 |
|     365 |           5 |
|     385 |           5 |
|     388 |           5 |
|     404 |           5 |
|     410 |           5 |
|     413 |           5 |
|     443 |           5 |
|     444 |           5 |
|     478 |           5 |
|     502 |           5 |
|     522 |           5 |
|     524 |           5 |
|     529 |           5 |
|     555 |           5 |
|     568 |           5 |
|     604 |           5 |
|     613 |           5 |
|     638 |           5 |
|     657 |           5 |
|     660 |           5 |
|     672 |           5 |
|     680 |           5 |
|     704 |           5 |
|     754 |           5 |
|     756 |           5 |
|     765 |           5 |
|     774 |           5 |
|     814 |           5 |
|     837 |           5 |
|     857 |           5 |
|     858 |           5 |
|     871 |           5 |
|     905 |           5 |
|     906 |           5 |
|     932 |           5 |
|     938 |           5 |
|     939 |           5 |
|     978 |           5 |
|    1000 |           5 |
+---------+-------------+

In [ ]:
#From the table city, ordering cities whose city id is <= 7 in alphabetical order

In [37]:
!mysql sakila -e "select city_id, city from city where city_id <= 7 order by city asc"

+---------+--------------------+
| city_id | city               |
+---------+--------------------+
|       1 | A Corua (La Corua) |
|       2 | Abha               |
|       3 | Abu Dhabi          |
|       4 | Acua               |
|       5 | Adana              |
|       6 | Addis Abeba        |
|       7 | Aden               |
+---------+--------------------+

In [ ]:
# inserting a new row at the end of the category table, with the cateogry id 21, whose name is alien and with its current last update

In [68]:
!mysql sakila -e "insert into  category(category_id, name, last_update) values (21, 'alien', '2006-02-15 04:46:27')"

In [ ]:
# checking that a new row was actually inserted

In [69]:
!mysql sakila -e "select count(*) from category"

+----------+
| count(*) |
+----------+
|       21 |
+----------+

In [75]:
# updated the category called drama into name being "intense" instead

In [80]:
!mysql sakila -e "update category set name = 'intense' where category_id = 7"

In [ ]:
#checking that the category name updated to intense

In [81]:
!mysql sakila -e "select category_id, name from category where category_id >= 7"

+-------------+---------+
| category_id | name    |
+-------------+---------+
|           7 | intense |
|           8 | Family  |
|           9 | Foreign |
|          10 | Games   |
|          11 | Horror  |
|          12 | Music   |
|          13 | New     |
|          14 | Sci-Fi  |
|          15 | Sports  |
|          16 | Travel  |
|          17 | alien   |
|          18 | alien   |
|          21 | alien   |
|          45 | alien   |
|          50 | alien   |
+-------------+---------+

In [ ]:
# deleted all the rows in the table film whose rating is null

In [93]:
!mysql sakila -e "delete from film where rating is null"