### Starter code for Project 4. 
#### Run these cells before starting the assignment.

#### 1. create BQ dataset:

In [1]:
%env dataset_id=school_enrollments

env: dataset_id=school_enrollments

In [2]:
!bq --location=US mk --dataset $dataset_id

W0626 15:58:06.046169 139907487160128 bigquery_client.py:731] There is no apilog flag so non-critical logging is disabled.
Dataset 'graceful-alpha-388900:school_enrollments' successfully created.

#### 2. create and populate BQ tables:

In [3]:
import os

In [4]:
gsutil_cmd = "gsutil ls gs://cs327e-open-access-2/school-enrollments/*"
file_listings = os.popen(gsutil_cmd)
dataset="school_enrollments"

for file in file_listings:

    start_index = file.rindex("_") + 1
    end_index = file.rindex(".")
    table = file[start_index:end_index]
    
    if table in ("co", "district", "fl", "ga", "id", "ma", "mo", "ne", "ny", "or", "school", "sd", "wi"):
        print("skipping " + table)
        continue

    bq_cmd = "bq --location=US load --autodetect --skip_leading_rows=1 "\
             "--source_format=CSV " + dataset + "." + table + ' ' + file
    print(bq_cmd)
    
    os.system(bq_cmd)

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ak gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ak.csv

W0626 15:59:14.896854 140380858832704 bigquery_client.py:731] There is no apilog flag so non-critical logging is disabled.
Waiting on bqjob_r33f59c34ca01779f_00000188f86e3fd1_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ar gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ar.csv

W0626 15:59:19.883201 139969205364544 bigquery_client.py:731] There is no apilog flag so non-critical logging is disabled.
Waiting on bqjob_r57562dd8e29cdce6_00000188f86e534c_1 ... (4s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ca gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ca.csv

W0626 15:59:26.919968 140143736649536 bigquery_client.py:731] There is no apilog flag so non-critical logging is disabled.
Waiting on bqjob_r44e2a1bd02d3a6aa_00000188f86e6ec8_1 ... (7s) Current status: DONE

skipping co
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ct gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ct.csv

W0626 15:59:37.099190 140326669711168 bigquery_client.py:731] There is no apilog flag so non-critical logging is disabled.
Waiting on bqjob_r31d152a41cfee4f9_00000188f86e968c_1 ... (2s) Current status: DONE

skipping district
skipping fl
skipping ga
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.hi gs://cs327e-open-access-2/school-enrollments/zf406jp4427_hi.csv

W0626 15:59:42.009149 140544048351040 bigquery_client.py:731] There is no apilog flag so non-critical logging is disabled.
Waiting on bqjob_r672ac91bdad6e126_00000188f86ea9ba_1 ... (2s) Current status: DONE

skipping id
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.la gs://cs327e-open-access-2/school-enrollments/zf406jp4427_la.csv

W0626 15:59:46.758562 140363794925376 bigquery_client.py:731] There is no apilog flag so non-critical logging is disabled.
Waiting on bqjob_r658fd6add48213b_00000188f86ebc47_1 ... (3s) Current status: DONE

skipping ma
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.md gs://cs327e-open-access-2/school-enrollments/zf406jp4427_md.csv

W0626 15:59:52.619853 139712101230400 bigquery_client.py:731] There is no apilog flag so non-critical logging is disabled.
Waiting on bqjob_r28776604bdda1c36_00000188f86ed32d_1 ... (22s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.mn gs://cs327e-open-access-2/school-enrollments/zf406jp4427_mn.csv

W0626 16:00:17.941907 140664663201600 bigquery_client.py:731] There is no apilog flag so non-critical logging is disabled.
Waiting on bqjob_r7eb6173ff7efca2d_00000188f86f3616_1 ... (5s) Current status: DONE

skipping mo
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ms gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ms.csv

W0626 16:00:25.953751 140444044068672 bigquery_client.py:731] There is no apilog flag so non-critical logging is disabled.
Waiting on bqjob_r3e9fe6ff83fc36d4_00000188f86f5562_1 ... (1s) Current status: DONE

skipping ne
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nh gs://cs327e-open-access-2/school-enrollments/zf406jp4427_nh.csv

W0626 16:00:29.688332 139782208366400 bigquery_client.py:731] There is no apilog flag so non-critical logging is disabled.
Waiting on bqjob_r4a9b7d654e574d41_00000188f86f63f9_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nv gs://cs327e-open-access-2/school-enrollments/zf406jp4427_nv.csv

W0626 16:00:34.508674 139932332848960 bigquery_client.py:731] There is no apilog flag so non-critical logging is disabled.
Waiting on bqjob_r2fd8217f1e41ade8_00000188f86f76ce_1 ... (2s) Current status: DONE

skipping ny
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ok gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ok.csv

W0626 16:00:39.219482 140642569705280 bigquery_client.py:731] There is no apilog flag so non-critical logging is disabled.
Waiting on bqjob_r122317dd8a456067_00000188f86f8934_1 ... (2s) Current status: DONE

skipping or
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.pa gs://cs327e-open-access-2/school-enrollments/zf406jp4427_pa.csv

W0626 16:00:44.008953 140434914694976 bigquery_client.py:731] There is no apilog flag so non-critical logging is disabled.
Waiting on bqjob_rec49cc94fe5d556_00000188f86f9be9_1 ... (3s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.sc gs://cs327e-open-access-2/school-enrollments/zf406jp4427_sc.csv

W0626 16:00:49.826822 140521588332352 bigquery_client.py:731] There is no apilog flag so non-critical logging is disabled.
Waiting on bqjob_r4b34d32ec6d80fe1_00000188f86fb2a4_1 ... (2s) Current status: DONE

skipping school
skipping sd
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.tx gs://cs327e-open-access-2/school-enrollments/zf406jp4427_tx.csv

W0626 16:00:54.625725 140201967552320 bigquery_client.py:731] There is no apilog flag so non-critical logging is disabled.
Waiting on bqjob_r2b9a4edfbc720e49_00000188f86fc562_1 ... (3s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.wa gs://cs327e-open-access-2/school-enrollments/zf406jp4427_wa.csv

W0626 16:01:00.388479 140429785454400 bigquery_client.py:731] There is no apilog flag so non-critical logging is disabled.
Waiting on bqjob_r622f0761173f41fb_00000188f86fdbe5_1 ... (4s) Current status: DONE

skipping wi
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.wy gs://cs327e-open-access-2/school-enrollments/zf406jp4427_wy.csv

W0626 16:01:07.363058 139920482297664 bigquery_client.py:731] There is no apilog flag so non-critical logging is disabled.
Waiting on bqjob_r464953be2c7fd902_00000188f86ff724_1 ... (2s) Current status: DONE

#### 3. Find school enrollments by school name, grade level, and year for Texas

In [5]:
!bq show --schema=true $dataset_id.tx

W0626 16:02:36.041080 140063749527360 bigquery_client.py:731] There is no apilog flag so non-critical logging is disabled.
[{"name":"state","type":"STRING","mode":"NULLABLE"},{"name":"county","type":"STRING","mode":"NULLABLE"},{"name":"county_state_id","type":"STRING","mode":"NULLABLE"},{"name":"admin_level","type":"STRING","mode":"NULLABLE"},{"name":"district_nces_id","type":"INTEGER","mode":"NULLABLE"},{"name":"district_state_id","type":"INTEGER","mode":"NULLABLE"},{"name":"district_state_type","type":"STRING","mode":"NULLABLE"},{"name":"district","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_type","type":"STRING","mode":"NULLABLE"},{"name":"ccd_charter","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_lvl","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_low_grade","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_high_grade","type":"STRING","mode":"NULLABLE"},{"name":"school_nces_id","type":"INTEGER","mode":"NULLABLE"},{"name":"school_state_id","type":"FLOAT","mode":"NULLABLE"},{"name":"school","type":"STRING","mode":"NULLABLE"},{"name":"school_state_type","type":"STRING","mode":"NULLABLE"},{"name":"ccd_school_type","type":"STRING","mode":"NULLABLE"},{"name":"ccd_charter_school","type":"BOOLEAN","mode":"NULLABLE"},{"name":"ccd_school_lvl","type":"STRING","mode":"NULLABLE"},{"name":"ccd_school_low_grade","type":"STRING","mode":"NULLABLE"},{"name":"ccd_school_high_grade","type":"STRING","mode":"NULLABLE"},{"name":"year","type":"INTEGER","mode":"NULLABLE"},{"name":"term","type":"STRING","mode":"NULLABLE"},{"name":"grade","type":"STRING","mode":"NULLABLE"},{"name":"white","type":"STRING","mode":"NULLABLE"},{"name":"black","type":"STRING","mode":"NULLABLE"},{"name":"hispanic","type":"STRING","mode":"NULLABLE"},{"name":"native_american","type":"STRING","mode":"NULLABLE"},{"name":"native_american_alaskan_native","type":"STRING","mode":"NULLABLE"},{"name":"asian","type":"STRING","mode":"NULLABLE"},{"name":"native_hawaiian","type":"STRING","mode":"NULLABLE"},{"name":"asian_pacific_islander","type":"STRING","mode":"NULLABLE"},{"name":"native_hawaiian_pacific_islander","type":"STRING","mode":"NULLABLE"},{"name":"pacific_islander","type":"STRING","mode":"NULLABLE"},{"name":"multiracial","type":"STRING","mode":"NULLABLE"},{"name":"unknown_race","type":"STRING","mode":"NULLABLE"},{"name":"male","type":"STRING","mode":"NULLABLE"},{"name":"female","type":"STRING","mode":"NULLABLE"},{"name":"non_binary","type":"STRING","mode":"NULLABLE"},{"name":"unknown_gender","type":"STRING","mode":"NULLABLE"},{"name":"ell","type":"STRING","mode":"NULLABLE"},{"name":"ell_percent","type":"STRING","mode":"NULLABLE"},{"name":"homeless","type":"STRING","mode":"NULLABLE"},{"name":"homeless_percent","type":"STRING","mode":"NULLABLE"},{"name":"low_income","type":"STRING","mode":"NULLABLE"},{"name":"free_and_reduced","type":"STRING","mode":"NULLABLE"},{"name":"free_and_reduced_percent","type":"STRING","mode":"NULLABLE"},{"name":"disability","type":"STRING","mode":"NULLABLE"},{"name":"section_504","type":"STRING","mode":"NULLABLE"},{"name":"total","type":"STRING","mode":"NULLABLE"}]

#### Note: STRING type for "total" column

In [7]:
%%bigquery
select school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by school, grade, year
order by school, grade, year

Query is running:   0%|          |

Downloading:   0%|          |

         school             grade  year  total
0     AKINS H S          grade_10  2020    720
1     AKINS H S          grade_10  2021    747
2     AKINS H S          grade_11  2020    664
3     AKINS H S          grade_11  2021    663
4     AKINS H S          grade_12  2020    609
...         ...               ...   ...    ...
1734  ZILKER EL           grade_5  2021     69
1735  ZILKER EL      kindergarten  2020     77
1736  ZILKER EL      kindergarten  2021     63
1737  ZILKER EL  pre_kindergarten  2020     30
1738  ZILKER EL  pre_kindergarten  2021     13

[1739 rows x 4 columns]

In [ ]:
!bq show school_enrollments

W0626 17:38:33.595102 139807587383104 bigquery_client.py:731] There is no apilog flag so non-critical logging is disabled.
Dataset graceful-alpha-388900:school_enrollments

   Last modified                            ACLs                            Labels    Type
 ----------------- ------------------------------------------------------- -------- ---------
  26 Jun 15:58:06   Owners:                                                          DEFAULT
                      165749311709-compute@developer.gserviceaccount.com,
                      projectOwners
                    Writers:
                      projectWriters
                    Readers:
                      projectReaders

In [54]:
%%bigquery 
select * 
from school_enrollments.INFORMATION_SCHEMA.COLUMNS

Query is running:   0%|          |

Downloading:   0%|          |

,table_catalog,table_schema,table_name,column_name,ordinal_position,is_nullable,data_type,is_generated,generation_expression,is_stored,is_hidden,is_updatable,is_system_defined,is_partitioning_column,clustering_ordinal_position,collation_name,column_default,rounding_mode
0,graceful-alpha-388900,school_enrollments,mn,state,1,YES,STRING,NEVER,None,None,NO,None,NO,NO,<NA>,NULL,NULL,None
1,graceful-alpha-388900,school_enrollments,mn,county,2,YES,STRING,NEVER,None,None,NO,None,NO,NO,<NA>,NULL,NULL,None
2,graceful-alpha-388900,school_enrollments,mn,county_state_id,3,YES,FLOAT64,NEVER,None,None,NO,None,NO,NO,<NA>,NULL,NULL,None
3,graceful-alpha-388900,school_enrollments,mn,admin_level,4,YES,STRING,NEVER,None,None,NO,None,NO,NO,<NA>,NULL,NULL,None
4,graceful-alpha-388900,school_enrollments,mn,district_nces_id,5,YES,INT64,NEVER,None,None,NO,None,NO,NO,<NA>,NULL,NULL,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
864,graceful-alpha-388900,school_enrollments,nh,free_and_reduced,47,YES,STRING,NEVER,None,None,NO,None,NO,NO,<NA>,NULL,NULL,None
865,graceful-alpha-388900,school_enrollments,nh,free_and_reduced_percent,48,YES,STRING,NEVER,None,None,NO,None,NO,NO,<NA>,NULL,NULL,None
866,graceful-alpha-388900,school_enrollments,nh,disability,49,YES,STRING,NEVER,None,None,NO,None,NO,NO,<NA>,NULL,NULL,None
867,graceful-alpha-388900,school_enrollments,nh,section_504,50,YES,STRING,NEVER,None,None,NO,None,NO,NO,<NA>,NULL,NULL,None
868,graceful-alpha-388900,school_enrollments,nh,total,51,YES,FLOAT64,NEVER,None,None,NO,None,NO,NO,<NA>,NULL,NULL,None

In [ ]:
# Query 1: Created a query that produces the total number of disabled students in different counties in Minnesota.

In [18]:
%%bigquery
select county, cast(sum(cast(disability as float64)) as int64)  as disabledstudents
from school_enrollments.mn
where disability !='' and disability !='*'
group by county
order by county ASC

Query is running:   0%|          |

Downloading:   0%|          |

             county  disabledstudents
0                                 473
1            Aitkin              8906
2             Anoka            232532
3            Becker             23717
4          Beltrami             40981
..              ...               ...
84         Watonwan              7949
85           Wilkin              5571
86           Winona             23139
87           Wright             99664
88  Yellow Medicine              6990

[89 rows x 2 columns]

In [ ]:
#Query 2: Produces the total of students who receive free and reduced lunch by counties in California

In [43]:
%%bigquery
select county, cast(sum(cast(free_and_reduced as float64)) as int64)  as free_and_reduced_students
from school_enrollments.ca
where free_and_reduced !='' and free_and_reduced !='*'
group by county
order by county ASC

Query is running:   0%|          |

Downloading:   0%|          |

             county  free_and_reduced_students
0           ALAMEDA                     185579
1            ALPINE                         88
2            AMADOR                       3294
3             BUTTE                      35086
4         CALAVERAS                       5037
5            COLUSA                       6772
6      CONTRA COSTA                     137244
7         DEL NORTE                       5646
8         EL DORADO                      18536
9            FRESNO                     311132
10            GLENN                       8629
11         HUMBOLDT                      20900
12         IMPERIAL                      56926
13             INYO                       5724
14             KERN                     284342
15            KINGS                      42105
16             LAKE                      14306
17           LASSEN                       3718
18      LOS ANGELES                    1945653
19           MADERA                      51007
20            MARIN                      18805
21         MARIPOSA                       2416
22        MENDOCINO                      19200
23           MERCED                      90230
24            MODOC                       1874
25             MONO                       1961
26         MONTEREY                     112867
27             NAPA                      19499
28           NEVADA                      11034
29           ORANGE                     455184
30           PLACER                      41506
31           PLUMAS                       2487
32        RIVERSIDE                     556417
33       SACRAMENTO                     289854
34       SAN BENITO                      13104
35   SAN BERNARDINO                     574836
36        SAN DIEGO                     491996
37    SAN FRANCISCO                      59343
38      SAN JOAQUIN                     189313
39  SAN LUIS OBISPO                      29967
40        SAN MATEO                      58937
41    SANTA BARBARA                      84392
42      SANTA CLARA                     174251
43       SANTA CRUZ                      42222
44           SHASTA                      29017
45           SIERRA                        381
46         SISKIYOU                       7734
47           SOLANO                      61641
48           SONOMA                      61021
49       STANISLAUS                     145217
50           SUTTER                      29816
51           TEHAMA                      15501
52          TRINITY                       2075
53           TULARE                     158543
54         TUOLUMNE                       5416
55          VENTURA                     140259
56             YOLO                      29217
57             YUBA                      19511

In [ ]:
#Query 3: Produces the total of students who receive free and reduced lunch by counties in Minnesota

In [41]:
%%bigquery
select county, cast(sum(cast(free_and_reduced as float64)) as int64) as freeandreduced
from school_enrollments.mn
where free_and_reduced !='' and free_and_reduced !='*'
group by county
order by county ASC

Query is running:   0%|          |

Downloading:   0%|          |

             county  freeandreduced
0                              1719
1            Aitkin           22653
2             Anoka          567508
3            Becker           50455
4          Beltrami          113656
..              ...             ...
84         Watonwan           25757
85           Wilkin           11295
86           Winona           48557
87           Wright          145571
88  Yellow Medicine           15272

[89 rows x 2 columns]

In [ ]:
# Query 4: Produces the total number of disabled students in Connecticut

In [14]:
%%bigquery
select county, cast(sum(cast(disability as float64)) as int64)  as disabledstudents
from school_enrollments.ct
where disability !='' and disability !='*'
group by county
order by county ASC

Query is running:   0%|          |

Downloading:   0%|          |

  county  disabledstudents
0                   484585

In [ ]:
#Query 5: Produces the administration levels in Minnesota and the amount of students with disabilties in each level.

In [81]:
%%bigquery
select  admin_level, disability
from school_enrollments.mn
group by admin_level, disability
having count(*) > 10
order by admin_level ASC, disability DESC

Query is running:   0%|          |

Downloading:   0%|          |

    admin_level disability
0      district       99.0
1      district       98.0
2      district       97.0
3      district       96.0
4      district       95.0
..          ...        ...
341      school      100.0
342      school       10.0
343      school        1.0
344      school        0.0
345      school          *

[346 rows x 2 columns]

In [ ]:
#Query 6: Produces administration levels in California the amount of students with free and reduced lunch in each level.

In [84]:
%%bigquery
select  admin_level, free_and_reduced
from school_enrollments.ca
group by admin_level, free_and_reduced
having count(*) > 10
order by admin_level ASC, free_and_reduced DESC

Query is running:   0%|          |

Downloading:   0%|          |

    admin_level free_and_reduced
0      district
1        school             99.0
2        school             98.0
3        school             97.0
4        school             96.0
..          ...              ...
622      school            100.0
623      school             10.0
624      school              1.0
625      school              0.0
626      school

[627 rows x 2 columns]

In [ ]:
#Query 7: Produces administration levels in California and Minnesota the amount of students with free and reduced lunch in each level.

In [87]:
%%bigquery
select admin_level, free_and_reduced
from school_enrollments.mn
group by admin_level, free_and_reduced
having count(*) > 10
union distinct
select admin_level, free_and_reduced
from school_enrollments.ca
group by admin_level, free_and_reduced
having count(*) > 10
order by admin_level ASC, free_and_reduced DESC;

Query is running:   0%|          |

Downloading:   0%|          |

    admin_level free_and_reduced
0      district             99.0
1      district             98.0
2      district             97.0
3      district             96.0
4      district             95.0
..          ...              ...
895      school             10.0
896      school              1.0
897      school              0.0
898      school                *
899      school

[900 rows x 2 columns]

In [ ]:
#Query 8: Produces administration levels in California and Minnesota and the amount of students under section 504.

In [85]:
%%bigquery
select admin_level, section_504
from school_enrollments.tx
group by admin_level, section_504
having count(*) > 10
union all
select admin_level, section_504
from school_enrollments.ca
group by admin_level, section_504
having count(*) > 10
order by admin_level ASC, section_504 DESC;

Query is running:   0%|          |

Downloading:   0%|          |

  admin_level section_504
0    district
1    district
2      school
3      school

##### Documentation on BQ's string functions: https://cloud.google.com/bigquery/docs/reference/standard-sql/string_functions

In [8]:
!bq --location=US mk --dataset "views"

W0626 16:03:49.331193 140251232753472 bigquery_client.py:731] There is no apilog flag so non-critical logging is disabled.
Dataset 'graceful-alpha-388900:views' successfully created.

In [9]:
%%bigquery
create view views.austin_enrollments_by_school_grade_year as
select school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by school, grade, year
order by school, grade, year

Query is running:   0%|          |

Empty DataFrame
Columns: []
Index: []

In [10]:
%%bigquery
select * from views.austin_enrollments_by_school_grade_year

Query is running:   0%|          |

Downloading:   0%|          |

         school             grade  year  total
0     AKINS H S          grade_10  2020    720
1     AKINS H S          grade_10  2021    747
2     AKINS H S          grade_11  2020    664
3     AKINS H S          grade_11  2021    663
4     AKINS H S          grade_12  2020    609
...         ...               ...   ...    ...
1734  ZILKER EL           grade_5  2021     69
1735  ZILKER EL      kindergarten  2020     77
1736  ZILKER EL      kindergarten  2021     63
1737  ZILKER EL  pre_kindergarten  2020     30
1738  ZILKER EL  pre_kindergarten  2021     13

[1739 rows x 4 columns]

#### 4. Open Data Studio and create a chart from this view:
##### https://datastudio.google.com/

In [88]:
%%bigquery
create view school_enrollments.cal_freeandreducedsview as 
select county, cast(sum(cast(free_and_reduced as float64)) as int64)  as free_and_reduced_students
from school_enrollments.ca
where free_and_reduced !='' and free_and_reduced !='*' 
group by county
order by county ASC

Query is running:   0%|          |

Empty DataFrame
Columns: []
Index: []

In [89]:
%%bigquery
create view school_enrollments.mn_disabilityview as 
select county, cast(sum(cast(disability as float64)) as int64)  as disabledstudents
from school_enrollments.mn
where disability !='' and disability !='*'
group by county
order by county ASC

Query is running:   0%|          |

Empty DataFrame
Columns: []
Index: []

#### Project 4 homework marker. Start homework from here.